#var_dumpling {
	letter-spacing: 1.5;
	font-family:"Arial";
	line-height: 20px;
}

.string{
	color:#090;
	
}

.index{
	/*font-weight: bold;*/
}

.int{
	color:#900;
	font-weight: bold;
}

.array{
/*	font-weight: bold;*/
}

.bool {
	color:#9A32CD;
}

.object {
	/*font-weight: bold;*/
	
}